<?php include 'App/view/header_dome.html'?>

<div class="container">
<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
    <ul id="myTabs" class="nav nav-tabs">
        <li role="presentation" class="">
            <a href="#add" id="add-tab">添加信息</a>
        </li>
        <li role="presentation" class="active">
            <a href="#list" id="list-tab">信息列表</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="add" aria-labelledby="home-tab">
            <div class="panel-body">
                <form class="form-horizontal" id="form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">name</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="inputEmail3" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">pic</label>
                        <div class="col-sm-10">
                            <input type="text" name="pic" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">price</label>
                        <div class="col-sm-10">
                            <input type="text" name="price" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="cid" id="inlineRadio1" value="1"> 酒水
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="cid" id="inlineRadio2" value="2"> 零食
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade active in" id="list" aria-labelledby="profile-tab">
            <div class="panel-body">
                <div class="bs-example" data-example-id="bordered-table" style="width: 90%; margin: 0 auto;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="text-align: center">id</th>
                            <th style="text-align: center">name</th>
                            <th style="text-align: center">pic</th>
                            <th style="text-align: center">price</th>
                            <th style="text-align: center">cid</th>
                            <th style="text-align: center">oparetion</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
</div>

</body>
<style>
    td>input{
        border: none;
        outline: none;
    }
    tr>td:nth-child(2)>input{
        width: 200px;
    }
    tr>td:nth-child(3)>input{
        width: 300px;
    }
    tr>td:nth-child(4)>input{
        width: 100px;
    }

</style>
<script src="/ktv/public/js/Goods_admin.js"></script>
</html>
