<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="../css/index.css" />
		<script src="../js/rem.js"></script>
	</head>

	<body>
		<div class="game_box songbox">
			<div class="con">
				<div class="title">
					<a href="../index.html"><img src="../img/song/singer_tp_03.png" alt="" /></a>
					<span>歌手</span>
				</div>
				<div class="nav">
					<ul>
						<li>
							<img src="../img/song/singer_tp_07.png" alt="" />
							<a href="singer.html">歌手</a>
						</li>
						<li>
							<img src="../img/song/singer_tp_07.png" alt="" />
							<a href="singer_rank.html">排行</a>
						</li>
						<li>
							<img src="../img/song/singer_tp_07.png" alt="" />
							<a href="singer_like.html">常唱</a>
						</li>
						<li>
							<img src="../img/song/singer_tp_07.png" alt="" />
							<a href="singer_tj.html">推荐歌单</a>
						</li>
					</ul>
				</div>
				<form action="">
					<input type="text" placeholder="请输入您要搜索的歌手"/>
					<img src="../img/song/singer_tp_09.png" alt="" />
				</form>
				<div class="contain">
					<ul>
						<li>
							<a href="singer_1.html">
								<h3>内地偶像组合</h3>
							</a>
						</li>
						<li>
							<a href="singer_1.html">
								<h3>内地男歌手</h3>
							</a>
						</li>
						<li>
							<a href="singer_1.html">
								<h3>港台歌手</h3>
							</a>
						</li>
						<li>
							<a href="singer_1.html">
								<h3>日韩女歌手</h3>
							</a>
						</li>
						<li>
							<a href="singer_1.html">
								<h3>内—地<br>女歌手</h3>
							</a>
						</li>
						<li>
							<a href="singer_1.html">
								<h3>青春偶像
									<br>
									男&nbsp;歌&nbsp;手
								</h3>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>