<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/KTV/public/css/index_1.css" />
		<script src="/KTV/public/js/rem.js"></script>
		<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	</head>
	<body>
	<div class="singer2_wrap singerxq_wrap">
		<div class="title">
			<!--<a class="back" href="/KTV/index.php/music/done"></a>-->
			<a class="back" href='#' onClick='JavaScript:history.back(1);'></a>
			<h4>你还要我怎样</h4>
		</div>
		<div class="ricly">
			<ul>
				<li>我还在逞强 说着谎</li>
				<li>也没能力遮挡 你去的方向</li>
				<li>至少分开的时候我落落大方</li>
				<li>我后来都会选择绕过那条街</li>
				<li>又多希望在另一条街能遇见</li>
				<li>思念在逞强 不肯忘</li>
				<li class="active">怪我没能力跟随 你去的方向</li>
				<li>若越爱越被动 越要落落大方</li>
				<li>你还要我怎样 要怎样</li>
				<li>你突然来的短信就够我悲伤</li>
				<li>我没能力遗忘 你不用提醒我</li>
				<li>哪怕结局就这样</li>
				<li>我还能怎样 能怎样</li>
				<li>你千万不要在我婚礼的现场</li>
				<li>我听了那首歌就上了车</li>
				<li>爱过你很值得</li>
			</ul>
		</div>
		<ul class="ban">
			<li>
				<img src="/KTV/public/img/song/xiangqingye_08.png" alt="">
				原/伴
			</li>
			<li>
				<img src="/KTV/public/img/song/xiangqingye_10.png" alt="">
				切 歌
			</li>
			<li>
				<img src="/KTV/public/img/song/xiangqingye_05.png" alt="">
			</li>
			<li>
				<img src="/KTV/public/img/song/xiangqingye_13.png" alt="">
				重 唱
			</li>
			<li>
				<img src="/KTV/public/img/song/xiangqingye_15.png" alt="">
				录 歌
			</li>
		</ul>
		<div class="bottom">
			<div class="progrom">
				<img src="/KTV/public/img/song/xiangqingye_23.png" alt="">
				<div class="tol">
					<div class="done"></div>
					<div class="cir">
						<div></div>
					</div>
				</div>
				<span>86</span>
			</div>
			<div class="progrom volume">
				<img src="/KTV/public/img/song/xiangqingye_26.png" alt="">
				<div>
					<div class="done"></div>
					<div class="cir">
						<div></div>
					</div>
				</div>
				<span>68</span>
			</div>
		</div>
	</div>
	</body>
</html>
<script>
$(function () {
	var pc = $('.progrom:eq(0) .cir');
	var pt = $('.progrom:eq(0) .tol');
	var pd = $('.progrom:eq(0) .done');
	pt.on('click',function (e) {
		let tx = e.offsetX;
		let th = pt[0].offsetWidth;
		pd[0].style.width = tx+'px';
		$(pc[0]).css({left:tx});
		let num =Math.ceil(tx/th*100)>10?Math.ceil(tx/th*100):"0"+Math.ceil(tx/th*100);
		$('.progrom:eq(0) span').html(num);
	});
	pt.on('click',false);

//	pc.on('mousedown',function(e){
//		let cx = e.offsetX;
//		pc.on('mousemove',function(e){
//			let ox = e.clientX;
//			pd[0].style.width = ox-cx+'px';
//			$(pc[0]).css({left:ox-cx});
//			console.log(ox);
//		})
//	})
//	pc.on('mouseup',function(){
//		pc.onmousemove = null;
//		pc.onmouseup = null;
//	})

})
</script>