<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/KTV/public/css/index.css" />
		<script src="/KTV/public/js/rem.js"></script>
	</head>

	<body>
		<div class="game_box songbox singer1_box">
			<div class="con">
				<div class="title">
					<a href="/KTV/index.php/music"><img src="/KTV/public/img/song/singer_tp_03.png" alt="" /></a>
					<span><?php echo $data[0]['style']?></span>
					<a href="/KTV/index.php/music/done" class="choice">已点歌曲</a>
				</div>
				<div class="nav">
					<ul>
						<li>
							<img src="/KTV/public/img/song/singer_tp_07.png" alt="" />
							<a href="/KTV/index.php/music/index">歌手</a>
						</li>
						<li>
							<img src="/KTV/public/img/song/singer_tp_07.png" alt="" />
							<a href="/KTV/index.php/music/rank">排行</a>
						</li>
						<li>
							<img src="/KTV/public/img/song/singer_tp_07.png" alt="" />
							<a href="/KTV/index.php/music/popular">常唱</a>
						</li>
						<li>
							<img src="/KTV/public/img/song/singer_tp_07.png" alt="" />
							<a href="/KTV/index.php/music/tjgd">推荐歌单</a>
						</li>
					</ul>
				</div>
				<form action="">
					<input type="text" placeholder="请输入您要搜索的歌手"/>
					<img src="/KTV/public/img/song/singer_tp_09.png" alt="" />
				</form>

				<div class="contain singer_1contain">
					<ul>
						<?php foreach($data as $v):?>
						<li>
							<a href="/KTV/index.php/music/singer_list?id=<?php echo $v['id']?>"  style="background: url(<?php echo $v['url']?>) top center/cover no-repeat;"></a>
							<h3><?php echo $v['name']?></h3>
						</li>
						<?php endforeach;?>

					</ul>
				</div>
			</div>
		</div>
	</body>
</html>