<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/KTV/public/css/index_1.css" />
		<script src="/KTV/public/js/rem.js"></script>
	</head>
	<body>
	<div class="singer2_wrap songdone_wrap">
		<div class="title">
			<a class="back" href='#' onClick='JavaScript:history.back(1);'></a>
			<h4>已点歌曲</h4>
			<a href="">共26首</a>
		</div>
		<ul>
			<li>
				<a class="jump" href="/ktv/index.php/music/play"></a>
				<img src="/KTV/public/img/song/wyb_15.png" alt="">
				<p>歌手与演员－李荣浩<br><span>04"52'</span></p>
				<a class="add" href=""></a>
				<a class="top" href=""></a>
			</li>
			<li>
				<a class="jump" href="/ktv/index.php/music/play"></a>
				<img src="/KTV/public/img/song/wyb_13.png" alt="">
				<p>歌手与演员－李荣浩<br><span>04"52'</span></p>
				<a class="add" href=""></a>
				<a class="top" href=""></a>
			</li>
			<li>
				<a class="jump" href="/ktv/index.php/music/play"></a>
				<img src="/KTV/public/img/song/wyb_06.png" alt="">
				<p>歌手与演员－李荣浩<br><span>04"52'</span></p>
				<a class="add" href=""></a>
				<a class="top" href=""></a>
			</li>
			<li>
				<a class="jump" href="/ktv/index.php/music/play"></a>
				<img src="/KTV/public/img/song/wyb_18.png" alt="">
				<p>歌手与演员－李荣浩<br><span>04"52'</span></p>
				<a class="add" href=""></a>
				<a class="top" href=""></a>
			</li>
			<li>
				<a class="jump" href="/ktv/index.php/music/play"></a>
				<img src="/KTV/public/img/song/wyb_15.png" alt="">
				<p>歌手与演员－李荣浩<br><span>04"52'</span></p>
				<a class="add" href=""></a>
				<a class="top" href=""></a>
			</li>
			<li>
				<a class="jump" href="/ktv/index.php/music/play"></a>
				<img src="/KTV/public/img/song/wyb_06.png" alt="">
				<p>歌手与演员－李荣浩<br><span>04"52'</span></p>
				<a class="add" href=""></a>
				<a class="top" href=""></a>
			</li>
			<li>
				<a class="jump" href="/ktv/index.php/music/play"></a>
				<img src="/KTV/public/img/song/wyb_13.png" alt="">
				<p>歌手与演员－李荣浩<br><span>04"52'</span></p>
				<a class="add" href=""></a>
				<a class="top" href=""></a>
			</li>
			
			
		</ul>
	</div>
	</body>
</html>
